{
    "DEFAULT_USERNAME": "advena",
    "ORACLE": {
        "DIALECT": "oracle",
        "DRIVER": "cx_oracle"
    },
    "SG_THEME": "Black",
    "ORACLE_DBS": {
        "MY": [
            "MYPRD",
            "MYSTG",
            "MYTST"
        ],
        "YOUR": [
            "YOURPRD",
            "YOURSTG",
            "YOURTST"
        ]
    },
    "DEFAULT_HOSTS": {
        "MY": [
            "MYPRD",
            "MYSTG",
            "MYTST"
        ],
        "YOUR": [
            "YOURPRD",
            "YOURSTG",
            "YOURTST"
        ]
    },
    "WEB_APPS": {
        "Microsoft": {
            "OFFICE365": " https://ofice.com",
            "AZURE": " https://azure.microsoft.com"
        },
        "Google": {
            "GMAIL": " https://gmail.com"
        }
    }
}